<!-- Citation for app structure -->
<!-- Date 11/9/22 -->
<!-- Adapted Sample Flask application for a BSG database, -->
<!-- Source URL https://github.com/osu-cs340-ecampus/flask-starter-app -->

<html>

<head>
	<title>Edit Cafe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div>
        <table border="1" cellpadding="5">
            <caption> Editing Cafe: </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

                        <!-- End of this for loop -->
                        {% endfor %}
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}

                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %}
                    </tr>
                    {% endfor %}
            {% endif %}
        </table>

        <div id="edit">
            <!-- form to edit data in Cafes-->
            <form id="editCafe" action="/edit_cafe/{{data[0].cafe_id}}" method="post">
                <legend><strong>Edit Cafe</strong></legend>
                <fieldset>
                    <!-- We can preset form inputs to match attributes currently stored for 'id' of cafe to be updated via value= and accessing our passed data tuple -->
                    <!-- Create hidden form input to store the passed 'id' of the cafe we are editing so we can access it easily in our 'POST' method in our app.py -->
                    <input type="hidden" value="{{data[0].cafe_id}}" class="form-control" id="cafe_id" name="cafe_id">

                    <label for="cafe_name">cafe name:</label>
                    <input type="text" value="{{data[0].cafe_name}}" class="form-control" id="cafe_name" name="cafe_name"  >

                    <label for="cafe_country">cafe country:</label>
                    <input type="text" value="{{data[0].cafe_country}}" class="form-control" id="cafe_country" name="cafe_country"  >

                    <label for="cafe_phone_number">phone number:</label>
                    <input type="text" value="{{data[0].cafe_phone_number}}" class="form-control" id="cafe_phone_number" name="cafe_phone_number"  >


                </fieldset>
                <input type="submit" value="Edit Cafe" name="Edit_Cafe" class="btn btn-primary" style="margin:.5rem;">
                <a href='/cafes'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>
