<html><head>
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head> 
<body>
    <br>
    <h1>Welcome to the Space Cowboy Coffee Data Base</h1>
        [ <a href="/">Home</a> | <a href="cafes">Cafes</a> | <a href="coffees">Coffees</a>  | <a href="roasteries">Roasteries</a>  | <a href="invoices">Invoices</a> | <a href ="CoffeesHasInvoices">Coffees/Invoices</a>]
    <div id="browse" style="display: block">
    
    <h3>Our main goal here at Space Cowboy Coffee is to connect cafes to different roasteries, allowing cafes to expand the amount of coffee they can sell.</h3>
    
    <b> 
    <br>
    <h3> This database helps us:</h3> 
    <p>- Log and keep track of our Roasteries, Coffees, and Cafes 
    <br>- Maintain a record of purchases made by Cafes 
    </p>
    <p>Please select an option from above to create, read, update, or delete our Roasteries, Coffees, Cafes, or Invoices. 
        <h2><i>See ya Space Cowboy.</i></h2></p>
    </b>
</body>
<br><br>
<br><br>
<footer>&copy Asa Crimin and  Catherine Martens 2022</footer>
</html>